<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.debonex.mapper.CommodityMapper">
    <select id="selectCommodity" resultMap="commodity">
        select * from commodity where id_commodity = #{idCommodity}
    </select>
    <select id="selectCommodityList" resultMap="commodity">
        select * from commodity limit ${(currentPage-1) * perPage},#{perPage}
    </select>
    <select id="selectCommodityCount" resultType="java.lang.Integer">
        select count(*) from commodity
    </select>
    <insert id="insertCommodity" useGeneratedKeys="true" parameterType="com.example.debonex.pojo.Commodity">
        insert into commodity(title,specification,entity,value,hire,timelimit,region) values (#{item.title},#{item.specification},#{item.entity},#{item.value},#{item.hire},#{item.timelimit},#{item.region})
    </insert>
    <select id="searchCommodityList" resultMap="commodity">
        select * from commodity where id_commodity = #{keyword} or title like '%${keyword}%'
    </select>
    <resultMap id="commodity" type="com.example.debonex.pojo.Commodity">
        <id property="idCommodity" column="id_commodity"/>
        <result property="title" column="title"/>
        <result property="entity" column="entity"/>
        <result property="hire" column="hire"/>
        <result property="timelimit" column="timelimit"/>
        <result property="region" column="region"/>
        <result property="value" column="value"/>
        <result property="specification" column="specification"/>
    </resultMap>
</mapper>